* text=auto eol=lf
*.bat text=auto eol=crlf
assets/**/*.png filter=lfs diff=lfs merge=lfs -text
assets/**/*.PAM filter=lfs diff=lfs merge=lfs -text
assets/**/*.atlas filter=lfs diff=lfs merge=lfs -text
assets/**/*.json filter=lfs diff=lfs merge=lfs -text
assets/**/*.PNG filter=lfs diff=lfs merge=lfs -text
assets/**/*.tmx filter=lfs diff=lfs merge=lfs -text
assets/**/*.TTF filter=lfs diff=lfs merge=lfs -text
assets/**/*.tiled-project filter=lfs diff=lfs merge=lfs -text
assets/**/*.tiled-session filter=lfs diff=lfs merge=lfs -text
